@media(max-width: 1024px){
    .container{
        max-width: 980px;
        padding: 0 15px;
    }
    .nav-links a{
        display: none;
    }
    .nav-links button{
        display: none;
    }
    .img-ending img{
        width: 100%;
    }
    .col-4{
        width: 100%;
    }
    .col-5{
        width: 100%;
    }
    .col-6{
        width: 100%;
    }
    .col-7{
        width: 100%;
    }
}