* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1800px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 0 15px;
}
.container-info{
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 0 15px;
}

.container-contacts{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 0 15px;
}

.intro{
    padding: 30px 0 531px ;
}

.intro-img{
    position: relative;
    overflow: hidden;
}

.intro-img--img{
    width: 100%;
}

.row {
    padding: 0 -15px;
    flex-wrap: wrap;
    display: flex;
}

.col-4 {
    padding: 0 15px;
    width: 33.3%;
}

.col-5{
    padding: 0 15px;
    width: 41.67;
}

.col-6 {
    padding: 0 15px;
    width: 50%;
}
.col-7{
    padding: 0 15px;
    width: 58.33%;
}



header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px 0 30px;
    max-width: 1395px;
    width: 100%;
    margin: 0 auto;
}

button {
    padding: 7px 9px;
    border: 2px solid #D1A954;
    color: #D1A954;
    font-family: Montserrat
}

button:hover {
    background-color: #D1A954;
    transition: 0.6s;
    color: white;
}

a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-family: Montserrat;
}

a:hover {
    color: #D1A954;
    transition: 0.6s;
}

.links {
    margin-left: 30px;
}

.wrapper-second {
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 21px 0;
    height: 100%;
    width: 100%;
    text-align: center;
}

.overlay{
    background-color: #D1A954E5;
    padding: 20px 15px;
    width: 100%;
    position: absolute;
    bottom: -210px;
}

.box:hover .overlay{
    transition: 0.6s;
    bottom: 0;
}

.slider-svg{
    padding: 60px 0 30px;
}

.evening-party{
    font-size: 30px;
    font-weight: 400;
}
.evening-p{
    font-size: 14px;
    font-weight: 400;
    font-family: Montserrat
}

span{
    display: block;
}

.info-img img{
    width: 100%;
}

.info-text{
    text-align: center;
}

.main-infosvg{
    display: flex;
    align-items: center;
}
.main-infosvg h1{
    font-size: 20px;
    padding: 20px;
    font-family: Montserrat
    
}
.about-svgtext p{
    text-align: left;
    font-family: Montserrat
}
.about-textsvg p{
    text-align: left;
    font-family: Montserrat
}

.evening{
    margin-top: 210px;
}

.grid-container{
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(3, auto);
    display: grid;
    gap: 30px;
}

.img-spacing img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.box-1{
    grid-column: 1/4;
    justify-self: center;
    align-self: center;
}
.box-2{
    grid-column: 4/8;
}
.box-3{
    grid-column: 8/11;
}
.box-4{
    grid-column: 1/7;
    grid-row: 2/4;
}
.box-5{
    grid-column: 7/11;
    grid-row: 2/3;
}
.box-6{
    grid-column: 7/11;
    grid-row: 3/4;
}

.contacts{
    background-image: url(../assets/Rectangle\ 2\ \(4\).png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    width: 100%;
    height: 409px;
    margin-top: 150px;
}
.about-contact h3{
    font-size: 36px;
    color: white;
    padding: 120px;
    font-weight: 300;
    letter-spacing: 10px;
    font-family: Montserrat
}

.btn-contact button{
    padding: 23px 46px;
    color: black;
}
.btn-download{
    margin-right: 90px;
}

.wanna-party{
    text-align: left;
}
.wanna-party p{
    margin-top: 40px;
    font-family: Montserrat
}


.party-info{
    margin-top: 120px;
}

.adres-info{
    text-align: left;
    gap: 10px;
}

.adres svg{
    padding: 0 5px;
}
.adres p{
    font-size: 15px;
    font-family: Montserrat
}
/* .second{
    margin-right: 22px;
} */

/* .third{
    margin-left: 13px;
} */

.inputs{
    display: flex;
    flex-direction: column;
}
input{
    padding: 10px;
    font-family: Montserrat
}
.email-ipt{
    margin-top: 20px;
}
.sms-ipt{
    margin-top: 35px;
    padding: 15px 200px 112px 20px;
}
.btn-ipt{
    padding: 12px 35px;
    width: 200px;
    margin-top: 10px;
}

.our-insta{
    text-align: center;
    padding: 120px;
}
/* .ending-img{
    background-image: url(../assets/Rectangle\ 2\ \(5\).png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 320px;
    height: 300px;
    border-radius: 5px;
    margin-top: 150px;
} */
.img-ending{
    width: 100%;
}

p{
    font-family: Montserrat
}
h1{
    font-family: Montserrat
}
h2{
    font-family: Montserrat
}
h3{
    font-family: Montserrat
}